.navOps {
    position: relative;
    margin-right: 20px;
    display: inline-block;
}

#navbar{
    display: block;
    background-color: rgb(27,106,176);
    color:white;
    line-height:2.5;
    padding: 2px;
    height:40px;
    padding-left: 21%;
    border-top: 20px solid rgb(37, 39, 36);
    border-bottom: 20px solid rgb(37, 39, 36);
    font-size: large;
}
body{
    margin:0;
    height: 850px;
    background-color: #f5f5f5;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#container{
    background-color: white;
    color:black;
    width:58%;
    height: 100%;
    padding: 1%;
    padding-top: 0.2%;
    margin-left: 20%;
}
.navOps:hover {
    color: whitesmoke;
    text-decoration: underline;
    cursor: pointer;
}
.visible{
    display:block;
}
.invisible{
    display:none;
}